[Unit]
Description=Мониторинг процесса test

[Service]
Type=simple
ExecStart=/usr/local/bin/monitor_test.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target